.FormCitas{
    align-items:center;
    margin-left: 150px;
    margin-top:60px;
    margin-right:150px;
  /*  border:2px solid blue;*/
}
.divCalendar{
    display:flex;
    justify-content: center;
}
